# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.vscode

www/homeserver/apiv1/docs/
www/homeserver/apiv1/Tests/
www/homeserver/user/
www/homeserver/appLogger.log
