/* Put this inside a @media qualifier so Netscape 4 ignores it */
@media screen, print 
{ 
	ul.mktree {margin-right:5px;}
	/* Turn off list bullets */
	ul.mktree  li { list-style: none; white-space: nowrap} 
	/* Control how "spaced out" the tree is */
	ul.mktree, ul.mktree ul , ul.mktree li { margin-left:10px; padding:0px; white-space: nowrap}
	/* Provide space for our own "bullet" inside the LI */
	ul.mktree  li           .bullet { padding-left: 15px; white-space: nowrap}
	/* Show "bullets" in the links, depending on the class of the LI that the link's in */
	ul.mktree  li.liOpen    .bullet { cursor: pointer; background: url(minus.gif)  center left no-repeat; white-space: nowrap}
	ul.mktree  li.liClosed  .bullet { cursor: pointer; background: url(plus.gif)   center left no-repeat; white-space: nowrap}
	ul.mktree  li.liBullet  .bullet { cursor: default; background: url(bullet.gif) center left no-repeat; white-space: nowrap}
	/* Sublists are visible or not based on class of parent LI */
	ul.mktree  li.liOpen    ul { display: block; white-space: nowrap}
	ul.mktree  li.liClosed  ul { display: none; white-space: nowrap}
	/* Format menu items differently depending on what level of the tree they are in */
	ul.mktree  li { white-space: nowrap;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size: 11px;color: #333;}
	ul.mktree  li ul li { white-space: nowrap;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size: 11px;color: #333;}
	ul.mktree  li ul li ul li { white-space: nowrap;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size: 11px;color: #333;}
	ul.mktree  li ul li ul li ul li { white-space: nowrap;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size: 11px;color: #333;}
	
  ul.mktree  a  {text-decoration: none;font-size: 12pt; white-space: nowrap;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size: 11px;color: #333;}
  ul.mktree  a:hover  {text-decoration: underline;font-size: 12pt; white-space: nowrap;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size: 11px;color: #333;}
  
}
