Controller abfragen
<hr>
<br>
<form action="controller.php" method="POST">
<input type="submit" name="submitted" value="Controller Onlinestatus aktualisieren">
</form>
<br><br>

<a href="editRules.php?action=submitRules">Regeln &uuml;bermitteln</a> <br><br>
<a href="editRules.php?action=checkRules" target="_blank">Regeln pr&uuml;fen</a> <br><br>
<a href="controller.php?broadcastPing=1">PING Broadcast</a> <br><br>
<a href="controller.php?broadcastReset=1">RESET Broadcast</a> <br><br>
<!--a href="controller.php?broadcastSetTime=1">Uhrzeit stellen</a> <br> <br-->
<a href="editRules.php?action=submitRules&nocache=1">Regeln &uuml;bermitteln ohne Cache</a> <br><br>