%TITLE%
<hr>
<br>
<table cellspacing=0 cellpadding=0 border=0 width="100%">
<tr>
<td valign=top>
  <table cellspacing="10">
   <form action="editButtonPage.php" method="POST">
   <input type="hidden" name="action" value="submitLine">
   <input type="hidden" name="pageId" value="%PAGE_ID%">
   <input type="hidden" name="lineId" value="%LINE_ID%">
   <tr><td>Name</td><td><input type="text" name="name" value="%LINE_NAME%" size="40"></td></tr>
   <tr><td>Position</td><td><input type="text" name="pos" value="%POS%" size="5"> (1 = ganz oben auf der Seite, 2-X unterhalb folgend)</td></tr>

   <%OPT_DELETE%><tr><td></td><td><input type="checkbox" name="delete" value="1"> L&ouml;schen</td></tr></%OPT_DELETE%>
   <tr><td></td><td><br></td></tr>
   <tr><td></td><td><input type="submit" value="%SUBMIT_TITLE%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   	<a href="editButtonPage.php?pageId=%PAGE_ID%">Zur&uuml;ck</a></td></tr>
   </form>
   </table>
</td>
</tr>
</table>
<form>
