Google Kalender Integration *BETA*
<hr>
Mit der Google Kalender Integration kann das Bussystem komfortabel über Kalenderenträge gesteuert werden.<br>
Regeln können Sie für das ganze Jahr um Vorraus geplant werden (Urlaub, Feiertage, usw).<br><br>

<%OPT_NOT_INSTALLED%>
<br><br><b>
Die Google Calendar API ist bisher nicht installiert.<br>
Für die Installation werden ca. 5.5MB  Speicherplatz benötigt.<br><br>
<a href="editGoogleCalendar.php?action=install"><u>Zum installieren der Google Calendar API hier klicken</a>
</%OPT_NOT_INSTALLED%>
<%OPT_INSTALLED%>
<br>
%ERROR%
Neuen Kalender konfigurieren
<hr>
<form action="editGoogleCalendar.php" method="POST"><input type=hidden name="action" value="add">
<table border=0>
	<tr><td>Name:</td><td><input type=text name="calendarName" size=30 value="%CALENDAR_NAME%"> (frei wählbar)</td></tr>
	<tr><td>Google Kalender-ID:</td><td><input type=text name="calendarId" size=60 value="%CALENDAR_ID%"></td></tr>
	<tr><td></td><td><input type="submit" value="Eintragen"></td></tr>
</table>
</form>
<br>

<br><br>
Konfigurierte Kalender
<hr>
<table cellspacing=5 cellpadding=5 border=0>
<tr><td></td><td>Name</td><td>Kalender-ID</td></tr>
<%CALENDAR%>
<tr><td><nobr><a href="editGoogleCalendar.php?action=delete&id=%ID%">löschen</a></td><td><nobr>%NAME%</td><td><nobr>%ACT_CALENDAR_ID% (<a href="editGoogleCalendar.php?action=test&id=%ID%">testen</a>)</td></tr>
</%CALENDAR%>
</table>
</%OPT_INSTALLED%>

<br><br><br>
Anleitung<hr>
<table>
<tr><td valign=top><li></td><td>Zunächst legt man ein oder mehrere Kalender im Google Calendar Account an, mit denen das Bussystem gesteuert werden können soll.<br>Achtung: Der Kalender muss NICHT öffentlich sein.</td></tr>
<tr><td valign=top><li></td><td>Anschließend muss der Zugriff durch das Bussystem auf den Kalender autorisiert werden.<br>
Dazu in den Kalender gehen und oben auf das Symbol für Einstellungen klicken (Zahnrad) und ´Einstellungen´ wählen<br>
Dann oben Reiter ´Kalender´ wählen und dann in Spalte Freigabe klicken auf ´Diesen Kalender freigeben´ bzw. ´Freigegeben: Einstellungen bearbeiten´ <br>
Dann bei ´Für bestimmte Personen freigeben´ eintragen: <b>835303662489-6f3hjltkn8ahoe82rajcf9o9grbdh332@developer.gserviceaccount.com</b><br>
Als Berechtigungseinstellung muss ´Alle Termindetails anzeigen´ ausgewählt sein.<br>
</td></tr>
<tr><td valign=top><li></td><td>Zuletzt die Kalender ID auslesen<br>
Dazu oben Reiter ´Kalenderdetails´ wählen. (Falls Seite nicht mehr offen, bitte einfach Punkt 2 wiederholen)<br>
Unten findet man bei Kalenderadresse die Kalender-ID (Format xxxxx@group.calendar.google.com)<br>
Diese ID oben eingeben, um den Kalender für das Bussystem verwenden zu können
</td></tr>
</table>