Regelzust&auml;nde bearbeiten
<hr>
<br>
<form action="editGroupStates.php" method="POST">
<input type="hidden" name="groupId" value="%GROUP_ID%">
<input type="hidden" name="paramIds" value="%PARAM_IDS%">
<table cellspacing="10">
 <%ENTRIES%>
 <tr><td>Name Zustand %I%</td><td width=10> </td><td><input type='text' size='20' name='stateName%STATE_ID%' value='%NAME%'></td></tr>
 </%ENTRIES%>
 <tr><td colspan=2></td><td><input type="submit" name="submitted" value="&auml;ndern"></td></tr>
</table>
</form>


