<table cellspacing=0 cellpadding=0 border=0 width=100%><tr>
<td>%TITLE%</td>
<td align=right>%TITLE2%</td>
</tr></table>
<hr>
<br>
<table cellspacing=0 cellpadding=0 border=0 width="100%">
	<tr>
		<td valign=top width=300>
			<table cellspacing="10">
				<form action="editButtonPage.php" method="POST"
					enctype="multipart/form-data">
					<input type="hidden" name="pageId" value="%PAGE_ID%">
					<tr>
						<td>Name</td>
						<td><input type="text" name="name" value="%PAGE_NAME%"
							size="40"></td>
					</tr>
					<tr>
						<td>SVG</td>
						<td><input name="userfile" type="file" size="40">
							(optional)</td>
					</tr>
					<tr>
						<td>Startseite</td>
						<td><input type="checkbox" name="startseite" value="1"%CHECKED%>
							(Markieren, wenn dies die Eingangsseite sein soll)</td>
					</tr>
					<%OPT_DELETE%>
					<tr>
						<td></td>
						<td><input type="checkbox" name="delete" value="1">
							L&ouml;schen</td>
					</tr>
					</%OPT_DELETE%>
					<tr>
						<td></td>
						<td><br></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" name="submitted"
							value="%SUBMIT_TITLE%"></td>
					</tr>
				</form>
				</td>
				</tr>
			</table>
			</td>
			<td bgcolor=grey width=1></td>
			<td width=8></td>
			<td valign=top><br>%SVG_FUNCTIONS%</td>
			</tr>
</table>

<%OPT_CONFIG%>
<form>
	<br> <br> <%OPT_ZEILEN%> <b><a
		href="editButtonPage.php?action=editLine&pageId=%PAGE_ID%&lineId=%LINE_ID%">%ZEILE%</a></b>
	<hr>
	<%OPT_BUTTONS%> <input type=button
		onclick="location='editButtonPage.php?action=editButton&pageId=%PAGE_ID%&buttonId=%BUTTON_ID%'"
		value="%BUTTON_NAME%"> &nbsp; </%OPT_BUTTONS%> <br> <br>
	<a
		href="editButtonPage.php?action=editButton&pageId=%PAGE_ID%&lineId=%LINE_ID%">Neuer
		Button</a> <br> <br> </%OPT_ZEILEN%> <br> <br> <a
		href="editButtonPage.php?pageId=%PAGE_ID%&action=editLine">Neuer
		Abschnitt</a>
</form>
</%OPT_CONFIG%>

