Aktionen bei %STATE% des logischen %TYPE% Gruppenzustandes
<hr>
Die hier gewählten Aktionen werden gemäß Gruppentyp bei %STATE% des logischen %TYPE%-Zustandes ausgeführt:
<br><br><br>
<%ACTIONS%>
<nobr><a href="editRules.php?action=removeAction&groupId=%GROUP_ID%&ruleId=%RULE_ID%&actionId=%ACTION_ID%&logicalGroupMode=%LOGICAL_GROUP_MODE%"><img src="img/removeSmall.gif" border="0"></a> <a href="editRules.php?action=editActionParams&groupId=%GROUP_ID%&ruleId=%RULE_ID%&ruleActionId=%ACTION_ID%&featureFunctionId=%FEATURE_FUNCTION_ID%&logicalGroupMode=%LOGICAL_GROUP_MODE%">%ACTION_ROOM% » %ACTION_NAME% » %ACTION_FUNCTION%</a><br>
</%ACTIONS%>
<br><br>
<a href="editRules.php?action=addAction&groupId=%GROUP_ID%&ruleId=%RULE_ID%&logicalGroupMode=%LOGICAL_GROUP_MODE%"><img src="img/add.gif" title="Aktion hinzuf&uuml;gen" border=0></a>
