Diverse Zusatzparameter
<hr>
<br>
<form action="editAdditionalSettings.php" method="POST">
<input type="hidden" name="submitted" value="1">

<table cellspacing="10">
<tr><td>Webapplikation UTF8 Encoding</td><td><input type=checkbox name=utf8 value='1' %UTF_CHECKED%> UTF8 Encoding aktiviert</td></tr>
<tr><td></td><td><input type="submit" value="Speichern"></td></tr>
</table>
</form>

<br>
<u>Webapplikation UTF8 Encoding</u><br>
Diese Option sollte aktiviert werden, falls in der Webapplikation Sonderzeichen nicht korrekt dargestellt werden
<br><br>
