<html>
<head><link rel="StyleSheet" href="/homeserver/css/main.css" type="text/css" />
<body><div class="contentWrap"  id="content" style="margin-right:16px;">

<br>
<table width=95% align=center>
	<tr><td>
	
Hier können alle aktuell in der Datenbank gespeicherten Key/Value Paare aus dem Userplugin eingesehen und gelöscht werden
<hr>
<br>
<table cellspacing=3 cellpadding=3 border=0 >
<tr><td><td><td>KEY</td><td>VALUE</td></tr>
<%ELEMENTS%>
<tr><td><a href="editUserPluginData.php?delete=%KEY_ENCODED%"><img src="img/remove.gif" title="löschen"></a><td><td>%KEY%</td><td><a href="editUserPluginData.php?edit=%KEY_ENCODED%">%VALUE%</a></td></tr>
</%ELEMENTS%>
</table>
<form>


</td></tr></table>