Passwortschutz konfigurieren
<hr>
<br>
<form action="htaccessPassword.php" method="POST">
<input type="hidden" name="submitted" value="1">

<table cellspacing="10">
<tr><td>User:</td><td>homeserver</td></tr>
<tr><td>Passwort:</td><td><input type=text size=40 name=pass value='%PASS%'></td></tr>
<tr><td>Schutzumfang:</td><td><input type=radio name=umfang value=1 %EINS_CHECKED%>Zugriff übers Internet schützen <input type=radio name=umfang value=2 %ZWEI_CHECKED%>Zugriff übers Internet und Intranet schützen <input type=radio name=umfang value=0 %NULL_CHECKED%>Passwortschutz deaktivieren</td></tr>
<tr><td></td><td><input type="submit" value="Speichern"></td></tr>
</table>
</form>

<br>
<u>Info zur Sicherheit</u><br>
Über diese Konfiguration wird der Homeserver mit einem sog. HTACCESS Passwort geschützt.<br>
Dies gewährt keine allumfassende Sicherheit, sondern stellt lediglich einen Basisschutz dar.<br>
Falls der Homeserver über einen längeren Zeitraum direkt im Internet verwendet werden soll,<br>
sollten weiteregehende Maßnahmen mit Hilfe einer umfassenden Firewall vorgenommen werden.