<html>
<html>
<head>
<link type="text/css" rel="StyleSheet" href="css/luna.css" />
<script type="text/javascript" src="include/range.js"></script>
<script type="text/javascript" src="include/timer.js"></script>
<script type="text/javascript" src="include/slider.js"></script>
</head>

<script>
var xmlhttpStatus=false;
if (typeof XMLHttpRequest != 'undefined') xmlhttpStatus = new XMLHttpRequest();
if (!xmlhttpStatus) 
{
  try 
  {
	  xmlhttpStatus = new ActiveXObject("Msxml2.XMLHTTP");
  }
  catch(e) 
  {
    try 
    {
    	xmlhttpStatus = new ActiveXObject("Microsoft.XMLHTTP");
    }
    catch(e)
    {
    	xmlhttpStatus = null;
    }
  }
}


var lastStatusId=%INITIAL_STATUS_ID%;
function checkStatus()
{
  try
  {
    xmlhttpStatus.open("GET","ledControl.php?featureInstanceId=%FEATURE_INSTANCE_ID%&action=status"+"&lastStatusId="+lastStatusId);
    xmlhttpStatus.onreadystatechange = function()
    {
      if (xmlhttpStatus.readyState == 4 && xmlhttpStatus.status == 200)
      {
          var actValue = xmlhttpStatus.responseText;
          var pos= actValue.indexOf("#");
          if (pos!=-1)
          {
            lastStatusId=actValue.substring(0,pos);
            actValue =actValue.substring(pos+1);

            if (actValue==1)
            {
                document.getElementById("image").src="img/tasterGruen.png";
                document.getElementById("image").title="AN";
            }
            else if (actValue==0)
            {
                document.getElementById("image").src="img/tasterRot.png";
                document.getElementById("image").title="AUS";
            }
          }
      
          setTimeout("checkStatus()",1000);
      }
    }
    xmlhttpStatus.send(null);
  } catch (e){}
}

</script>

<body leftmargin="0" marginheight="0" marginwidth="0" topmargin="0" onload="checkStatus()">
<form action="ledControl.php" method="POST">
<input type="hidden" name="action" value="switch">
<input type="hidden" name="featureInstanceId" value="%FEATURE_INSTANCE_ID%">
<input type="image" id="image" src="%IMG%" title="%TITLE%">
</form>
</html>
