Controllerkonfiguration speichern oder wiederherstellen
<hr><br>
Hier kann die Konfiguration aller Controller gespeichert und zu einem sp&auml;teren Zeitpunkt wiederhergestellt werden. <br>
Dabei wird die Konfiguration aller Funktionen gespeichert.<br>
<br>
Letzte Konfigurationsspeicherung: %LAST_TIME% <br><br>
<br><br>

<form action="recovery.php" method="POST">
	<table><tr>
		<td><input type="submit" name="action" value="Konfiguration wiederherstellen"></td>
		<td width=50>&nbsp;</td>
		<td><input type="submit" name="action" value="Aktuelle Konfiguration speichern"></td>
	</tr>
 </table>
</form>
</body>
</html>


