Regeln bei denen dieser Signalgeber beteiligt ist
<hr>
<br>
<table class="basic">

<tr><td></td><td><b>Basisregeln</td><td><b>Zusatzregeln</td></tr>
<%ELEMENTS%>
<tr>
 <td align="center" valign="top"><b>%TYP%</td>
 <td valign="top"><a href="editBaseConfig.php?groupId=%GROUP_ID%&lastOpen=%LAST_OPEN%&isFolder=1">%NAME%</a></td>
 <td valign="top"><a href="editRules.php?groupId=%GROUP_ID%&lastOpen=%LAST_OPEN%&isFolder=1">%NAME%</a></td>
</tr>
</%ELEMENTS%>
</table>
<!--br><br><br>
Regeln &uuml;bernemen<hr>
<a href="editRules.php?action=chooseSignalAlias&id=%ID%">Signal ausw&auml;hlen von dem die Regeln &uuml;bernommen werden sollen</a>-->
