<table width=100% cellspacing=0 cellpadding=0 border=0><tr>
<td>&Uuml;bersicht aller Regeln%TITLE%</td>
<td align=right>%TITLE2%</td>
</tr></table>
<hr>
<br>
<table>
<%ELEMENTS%>
<tr>
<td><li>%NAME%</td><td> &nbsp;&nbsp;&nbsp;&nbsp;</td><td>[<a href="editBaseConfig.php?groupId=%GROUP_ID%&lastOpen=%LAST_OPEN%&isFolder=1" target="_blank">Basisregeln</a>] [<a href="editRules.php?groupId=%GROUP_ID%&lastOpen=%LAST_OPEN%&isFolder=1" target="_blank">Zusatzregeln</a>]</td>
</tr>
</%ELEMENTS%>
</table>
<br><br><br><br><br>