Sichtmodus wählen
<hr>
<br>
Mit den verschiedenen Sichten können Funktionsgruppen je nach Bedarf ergänzt oder entfernt werden, um die Übersicht zu verbessern.<br>
Modus ENTWICKLER ist für den normalen Anweder <b>nicht zu empfehlen</b>.<br><br>

Gewünschte Ansicht wählen:<br><br>
<form action=showView.php method=post><input type=hidden name=submitted value=1>
<input type=radio name=view value=Standard %standardChecked%> Standard
<input type=radio name=view value=Experte %experteChecked%> Experte
<input type=radio name=view value=Entwickler %entwicklerChecked%> Entwickler
<br><br>
<input type=submit value='Einstellen'>
</form>
