<html>
<link rel="StyleSheet" href="css/main.css" type="text/css" />
<body leftmargin="0" marginheight="0" marginwidth="0" topmargin="0" bgcolor="#f5f5f5">
<table>
<%ENTRY%>
<tr>
 <td valign=top><a href="journalDetails.php?id=%ID%" target="_blank"><font face="verdana" color=black size=1>%DIRECTION_SENDER_RECEIVER%</a></td>
 <td valign=top><font face="verdana" color=black size=2><font face="verdana" color=black size=1>%TYP%</td>
 <td valign=top><font face="verdana" color=black size=2><font face="verdana" color=black size=1>%FUNCTION%</td>
 <td valign=top><font face="verdana" color=black size=2><font face="verdana" color=black size=1><nobr>%PARAMS%</td>
</tr>
</%ENTRY%>
