Mehrere Features auswählen
<hr>
<br>
<script>
 function openAssigned()
 {
	 %ASSIGNED%
 }
	
 function openInitialElement()
 {
	%INITIAL_ELEMENT2%
 }
	
 function checkAll()
 {
   for ($i=0;$i<document.forms[0].elements.length;$i++)
   {
       if (document.forms[0].elements[$i].type=="checkbox" && document.forms[0].elements[$i].name.indexOf("id")!=-1)
           document.forms[0].elements[$i].checked=true;
   }
 }

 function uncheckAll()
 {
   for ($i=0;$i<document.forms[0].elements.length;$i++)
   {
      if (document.forms[0].elements[$i].type=="checkbox" && document.forms[0].elements[$i].name.indexOf("id")!=-1)
         document.forms[0].elements[$i].checked=false;
   }
 }
	
 function checkMe(id)
 {
   for ($i=0;$i<document.forms[0].elements.length;$i++)
   {
     if (document.forms[0].elements[$i].type=="checkbox" && document.forms[0].elements[$i].name==id)
     {
        document.forms[0].elements[$i].checked=true;
	    return;
	 }
   }
 }

 function uncheckMe(id)
 {
   for ($i=0;$i<document.forms[0].elements.length;$i++)
   {
     if (document.forms[0].elements[$i].type=="checkbox" && document.forms[0].elements[$i].name==id)
	 {
        document.forms[0].elements[$i].checked=false;
	   return;
	 }
   }
 }

</script>

<form action="addGenericGroup.php" method="POST">
<input type="hidden" name="id" value="%ID%">
<input type="hidden" name="submitted" value="1">
<input type="hidden" name="returnUrl" value="%RETURN_URL%">
<input type="hidden" name="params" value="%PARAMS%">

<ul class="mktree" id="tree2">
  %TREE_ELEMENTS%
</ul>

<br><br>
<a href="javascript:checkAll()">Alle aktivieren</a> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;<a href="javascript:uncheckAll()">Alle deaktivieren</a>
<br><br><br>
<input type="submit" value="Weiter mit gewählten Features">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="%RETURN_URL%">oder zur&uuml;ck</a>
<br><br><br><br>
</form>
