<script>
  function openInitialElement()
	{
		%INITIAL_ELEMENT2%
	}
</script>

<ul class="mktree" id="tree2">
  %TREE_ELEMENTS%
</ul>  
<br>
 <br>
 <table width="100%">
 <tr>
 <td valign=middle width=18><img src='img/signal.gif'></td>
 <td valign=middle><u>oder per Livevent</a></td>
 </tr>
 <tr>
 <td></td>
 <td><iframe src='signalLiveMode.php?ruleId=%RULE_ID%&groupId=%GROUP_ID%&action=%ACTION%&logicalGroupMode=%LOGICAL_GROUP_MODE%&graphId=%GRAPH_ID%&influxId=%INFLUX_ID%&signalId=%SIGNAL_ID%&signalEventId=%SIGNAL_EVENT_ID%' width="800" height=300 border=0 framebordeR=0></iframe></td>
 </tr>
 </table>
 
<br><br>
<%OPT_ADD_OTHERS%>&nbsp;&nbsp; » <a href="%MY_URI%&withResults=1">Auch Results anzeigen</a></%OPT_ADD_OTHERS%>