<script>
  function openInitialElement()
	{
		%INITIAL_ELEMENT2%
	}
</script>

<ul class="mktree" id="tree2">
  %TREE_ELEMENTS%
</ul>
<br><br>
<%OPT_ADD_OTHERS%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; » <a href="%MY_URI%&withFunctions=1">Auch andere Aktoren anzeigen</a><br><br></%OPT_ADD_OTHERS%>