<table cellspacing=0 cellpadding=0 width=100%>
 <tr>
  <td valign=top>
  <form action="baseConfig.php" method="POST">
  <input type="hidden" name="id" value="%ID%">
  <input type="hidden" name="submitted" value="1">
  Modul Basiskonfiguration ändern <hr>
  Hier kann die grundsätzliche Modulkonfiguration gemäß einem vorgegebenen Template geändert werden.<br>
  Achtung: Bitte unbedingt darauf achten, das richtige gewünschte Konfigurationstemplate zu wählen!<br>
  <br><br>
  <select name="configTemplate">
  	<option>- Gewünschte Konfiguration wählen -
  	<option value=1>16-fach Relaismodul
  	<option value=5>8-fach Relaismodul
  	<option value=2>8-fach Rollladenmodul
  	<option value=3>6-fach Taster
  	<option value=7>4-fach Taster
  	<option value=8>2-fach Taster
  	<option value=9>1-fach Taster
  	<option value=11>32-IO Hutschienenmodul
	<option value=15>Brückenmodul
  </select>  
  <br><br>
  <input type=submit value="Konfiguration durchführen">
  </form>
  </td>
 </tr>
</table>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
Specials
<hr>
- <a href="baseConfig.php?id=%ID%&action=special1">Externe LEDs mit Tasten verknüpfen</a><br>
- <a href="baseConfig.php?id=%ID%&action=special2">Loxone Rollomodulregeln generieren</a>
