Art der Zeitsteuerung ausw&auml;hlen
<hr>
<br><br>
<table><tr>
<td>
<form action="editBaseConfig.php" method="POST">
<input type="hidden" name="action" value="addTimeSignal">
<input type="hidden" name="submitted" value="1">
<input type="hidden" name="groupId" value="%GROUP_ID%">
<input type="hidden" name="ruleId" value="-1">
<input type="hidden" name="logicalGroupMode" value="%LOGICAL_GROUP_MODE%">
<input type="hidden" name="logicalStateId" value="%LOGICAL_STATE_ID%">
<input type=submit value="Manuellen Zeitpunkt ausw&auml;hlen">
</form>
</td>
<td width=30></td>
<td>
<form action="editBaseConfig.php" method="POST">
<input type="hidden" name="action" value="addTimeSignalSunrise">
<input type="hidden" name="submitted" value="1">
<input type="hidden" name="groupId" value="%GROUP_ID%">
<input type="hidden" name="ruleId" value="-1">
<input type="hidden" name="logicalGroupMode" value="%LOGICAL_GROUP_MODE%">
<input type="hidden" name="logicalStateId" value="%LOGICAL_STATE_ID%">
<input type=submit value="Automatisch bei Sonnenaufgang">
</form>
</td>
<td width=30></td>
<td>
<form action="editBaseConfig.php" method="POST">
<input type="hidden" name="action" value="addTimeSignalSunset">
<input type="hidden" name="submitted" value="1">
<input type="hidden" name="groupId" value="%GROUP_ID%">
<input type="hidden" name="ruleId" value="-1">
<input type="hidden" name="logicalGroupMode" value="%LOGICAL_GROUP_MODE%">
<input type="hidden" name="logicalStateId" value="%LOGICAL_STATE_ID%">
<input type=submit value="Automatisch bei Sonnenuntergang">
</form>
</td></tr>
</table>

<br><br>
[<a href="editBaseConfig.php?dummy=back&groupId=%GROUP_ID%">zur&uuml;ck</a>]