%TITLE%
<hr>
<br>
<script>
  function openInitialElement()
	{
		%INITIAL_ELEMENT2%
	}
</script>

<table cellspacing="10">
 <form action="editGroup.php" method="POST">
  <input type="hidden" name="id" value="%ID%">
  <input type="hidden" name="sub" value="%SUB%">
  <tr><td>Name</td><td><input style="width:250px" type="text" name="name" value="%NAME%" size="47"></td></tr>
  <tr><td>Typ</td><td><select style="width:250px" name=groupType>%GROUP_TYPE_OPTIONS%</select></td></tr>
  <tr><td></td><td>Gruppen können verwendet werden, um mehrere Aktoren mit gleichen Regeln zu schalten<br>
  	oder um mehrere Aktoren zum einem UND Signal oder ODER signal zusammenzuschalten.<br><br>
</td></tr>
  <%DELETE%><tr><td></td><td>
  	<table cellspacing=0 cellpadding=0 width=300>
  		<tr><td valign=top><a href="editGroup.php?id=%ID%&action=changeActive&active=%ACTIVE_STATUS%"><img src='%ACTIVITY_IMAGE%' title='%ACTIVE_TITLE%'> %ACTIVE_TITLE%</a><br><br><input type="checkbox" name="delete" value="1"> L&ouml;schen</td><%OPT_COPY_SUB%><td align=right><br><br><a href='editGroup.php?id=%ID%&action=copy'>Kopieren</a> &nbsp;|&nbsp; <a href='editGroup.php?id=%ID%&action=createSub'>Subgruppe erstellen</a></%OPT_COPY_SUB%></td></tr>
  	</table>	
  </%DELETE%>
  <tr><td></td><td><input type="submit" name="submitted" value="%SUBMIT_TITLE%"></td></tr>
 </form>
 </table>
<br>
<%OPT_NORMAL%>Bei einer <b>normalen Gruppe</b> kann man beliebige Aktoren einfügen, zusammen konfigurieren und über einen gemeinsamen<br>Gruppenstatus synchronisieren. Eine Gruppe ist gegenüber die Konfiguration der Einzelaktoren zu empfehlen, wenn mehrere Aktoren<br>oft über ein gemeinsames Signal gesteuert werden, das öfters geändert werden soll. Z.b. Nachtlicht oder Rolloansteuerung per Uhrzeit.<br><br></%OPT_NORMAL%>
<%OPT_SIGNALS_AND%>Bei einer logischen Gruppe werden keine Aktoren, sondern beliebig viele logische Zustände miteinander kombiniert.<br>Jeder Zustand kann durch Bussignale als aktiv oder als passiv markiert werden.<br>Gemäß des Gruppentyps <b>logisches UND</b> ist die Gesamtgruppe nur dann aktiv, wenn alle Einzelzuständ aktiv sind.<br>Sind nur einige oder keine Zustände aktiv, gilt die Gruppe als nicht aktiv.<br>Zusätzlich können in der Expertenansicht die resultierenden Gruppenevents <br>evGroupOff, evGroupUndefined und evGroupOn als Triggersignal in beliebigen Regeln verwendet werden.<br><br><u>Beispielanwendungsfall:</u><br>Sensorisch überwachte Fenster sollen eine Dunstabzugshaube ausschalten, sobald alle Fenster geschlossen sind.<br>Dafür werden alle Fenstersignale (Taster) in eine Signalgruppe eingefügt und in den Regeln der Dunstabzugshaube<br> das Event evGroupOn zum Deaktivieren und die Events evGroupUndefined, evGroupOff zum Aktivieren verwendet.<br><br></%OPT_SIGNALS_AND%>
<%OPT_SIGNALS_OR%>Bei einer logischen Gruppe werden keine Aktoren, sondern beliebig viele logische Zustände miteinander kombiniert.<br>Jeder Zustand kann durch Bussignale als aktiv oder als passiv markiert werden.<br>Gemäß des Gruppentyps <b>logisches ODER</b> ist die Gesamtgruppe dann aktiv, sobald irgend ein Einzelzustand oder alle Zustände aktiv sind.<br>Nur wenn kein Einzelzustand aktiv ist, gilt die Gruppe als nicht aktiv.<br>Zusätzlich können in der Expertenansicht die resultierenden Gruppenevents <br>evGroupOff, evGroupUndefined und evGroupOn als Triggersignal in beliebigen Regeln verwendet werden.<br><br><u>Beispielanwendungsfall:</u><br>Sensorisch überwachte Fenster sollen eine Dunstabzugshaube ausschalten, sobald alle Fenster geschlossen sind.<br>Dafür werden alle Fenstersignale (Taster) in eine Signalgruppe eingefügt und in den Regeln der Dunstabzugshaube<br> das Event evGroupOn zum Deaktivieren und die Events evGroupUndefined, evGroupOff zum Aktivieren verwendet.<br><br></%OPT_SIGNALS_OR%>

<br><br> 
<%ENTRIES%>
Zugeordnete Aktoren
<hr>
<br>
<form>
 <input type=button value="Aktor zur Gruppe hinzuf&uuml;gen" onclick="location='editGroup.php?action=addMember&id=%ID%'">
</form>
<table class="basic">
<tr>
 <td align="center"></td>
 <td align="center">Aktoren</td>
</tr>

<%MEMBERS%>
<tr>
 <td align="center" valign="top"><a href="editGroup.php?id=%ID%&memberId=%MEMBER_ID%&action=deleteMember"><img src="img/remove.gif" border=0 title="l&ouml;schen"></a></td>
 <td>%MEMBER_ROOM% » %MEMBER_CLASS% » %MEMBER_NAME%</td>
</tr>
</%MEMBERS%>
</table>
<br>
<form>
 <input type=button value="Aktor zur Gruppe hinzuf&uuml;gen" onclick="location='editGroup.php?action=addMember&id=%ID%'">
</form>
</%ENTRIES%>