Signalnamen editieren
<hr>
<form action="editInflux.php" method="POST">
<input type=hidden name=submitted value=1>
<input type=hidden name=id value='%ID%'>
<input type=hidden name=signalId value='%SIGNAL_ID%'>
<input type=hidden name=nameSignal value='%SIGNAL_ID%'>
Name: <input type=text name="name" value="%NAME%"> <input type=submit value="Ändern">
</form>