<script type="text/javascript" src="include/ajaxWorker.js"></script>
<script type="text/javascript" src="/homeserver/charts/jscolor.js"></script>

<table cellspacing=0 cellpadding=0 border=0 width=100%>
<tr><td>Influx DB Daten %MODE%</td><td align=right></td></tr>
</table>
<hr>
%ERROR%

<script>
function showGraph(type)
{
	document.getElementById("desc").innerHTML="";
	
	if (type=="spline")
    {
		document.getElementById("pic").src="jpgraph/spline.jpg";
		document.getElementById("desc").innerHTML="<br>Diskrete Stützknoten werden<br>durch weitere Punkte zu einer<br>Kurve interpoliert. Z.b. für<br>Temperatur-/Feuchtigkeitskurven";
    }
	else if (type=="") document.getElementById("pic").src="img/empty.gif";
}

function changeTime(type)
{
	if (type=="fixed")
	{
		document.getElementById("param1").innerHTML="<a href=\"javascript:NewCal('timeParam1','ddmmyyyy',true,24)\">Startzeit wählen <img src=\"img/cal.gif\" width=\"16\" height=\"16\" border=\"0\" alt=\"Zeitpunkt w&auml;hlen\"></a>";
		document.getElementById("param2").innerHTML="<a href=\"javascript:NewCal('timeParam2','ddmmyyyy',true,24)\">Endezeit wählen <img src=\"img/cal.gif\" width=\"16\" height=\"16\" border=\"0\" alt=\"Zeitpunkt w&auml;hlen\"></a>";
		document.getElementById("timeParam2").style.visibility="visible";
	}
	else if (type=="seconds")
	{
		document.getElementById("param1").innerHTML="Sekunden";
		document.getElementById("param2").innerHTML="";
		document.getElementById("timeParam2").style.visibility="hidden";
	}
	else if (type=="minutes")
	{
		document.getElementById("param1").innerHTML="Minuten";
		document.getElementById("param2").innerHTML="";
		document.getElementById("timeParam2").style.visibility="hidden";
	}
	else if (type=="hours")
	{
		document.getElementById("param1").innerHTML="Stunden";
		document.getElementById("param2").innerHTML="";
		document.getElementById("timeParam2").style.visibility="hidden";
	}
	else if (type=="days")
	{
		document.getElementById("param1").innerHTML="Tage";
		document.getElementById("param2").innerHTML="";
		document.getElementById("timeParam2").style.visibility="hidden";
	}
}
</script>
<br>
<table cellspacing=0 cellpadding=0 border=0 width="100%">
<tr>
<td valign=top>
   <%OPT_DB_DATA%>
   <br><b>Server Konfiguration</b><br><br>
  <table cellspacing="5">
   <form action="editInflux.php" method="POST">
   <input type="hidden" name="id" value="%ID%">
   <input type="hidden" name="action" value="submitDbData">
   <tr><td width=130>Influx DB Server</td><td><input type="text" name="influxSserver" value="%SERVER%" size="40"></td></tr>
   <tr><td>Influx DB Token</td><td><input type="text" name="influxToken" value="%TOKEN%" size="40"></td></tr>
   <tr><td>Influx DB Organisation</td><td><input type="text" name="influxOrg" value="%ORG%" size="40"></td></tr>
   <tr><td>Influx DB Bucket</td><td><input type="text" name="influxBucket" value="%BUCKET%" size="40"></td></tr>
   <tr><td></td><td><input type="submit" value="Eintragen"></td></tr>
   </table>
   </form>
   <br><br><br>
   </%OPT_DB_DATA%>

  <br><b>Datengruppe %MODE%</b><br><br>
  <table cellspacing="5">
   <form action="editInflux.php" method="POST">
   <input type="hidden" name="id" value="%ID%">
   <input type="hidden" name="action" value="submitGraph">

   
   <tr><td width=130>Name</td><td><input type="text" name="name" value="%NAME%" size="40"></td></tr>
   <%OPT_DELETE%>
   <tr><td></td><td><input type="checkbox" name="delete" value="1"> L&ouml;schen</td></tr>
   </%OPT_DELETE%>
   <tr><td></td><td><input type="submit" value="%SUBMIT_TITLE%"></td></tr>
   </form>
   </table>
</td>
<td valign=top width=30>&nbsp;</td>
<td valign=top></td>
</tr>
</table>
<%OPT_SIGNALS%>
<br><br>
Signale konfigurieren<hr>
<table cellspacing=5 cellpadding=5>
<tr><td></td><td><b>Signalname</b></td><td><b>Signalevent</b></td><td><b>Y-Funktion</b></td></tr>
<%SIGNALS%>
<tr>
	<td valign="top"><a href="editInflux.php?id=%ID%&deleteSignal=%SIGNAL_ID%"><img src="img/removeSmall.gif" border=0 title="Signal entfernen"></a></td>
	<td valign="top"><a href="editInflux.php?id=%ID%&nameSignal=%SIGNAL_ID%">%SIGNAL_NAME%</a></td>
	<td valign="top">
   <%SIGNAL_EVENTS%>
    <nobr><a href="editInflux.php?id=%ID%&deleteEvent=%EVENT_ID%"><img src="img/removeSmall.gif" border=0 title="Event entfernen"></a> <a href="editRules.php?action=addSignal&influxId=%ID%&signalId=%SIGNAL_ID%&signalEventId=%EVENT_ID%">%SIGNAL_EVENT%</a><br>
   </%SIGNAL_EVENTS%><div align=center><a href="editRules.php?action=addSignal&influxId=%ID%&signalId=%SIGNAL_ID%"><img src="img/add.gif" border=0 title="Event hinzufügen"></a></div>
  </td>
  <td valign="top">
   <%SIGNAL_FKTS%>
    <nobr><a href="editInflux.php?id=%ID%&signalId=%SIGNAL_ID%&signalEventId=%EVENT_ID%&action=editFkt">%FKT%</a><br>
   </%SIGNAL_FKTS%>
  </td>
</tr>
</%SIGNALS%>
<tr><td colspan=4><br><a href="editRules.php?action=addSignal&influxId=%ID%"><img src="img/add.gif" border=0 title="Signal ergänzen"></a></td></tr>
</table>
<br>
</%OPT_SIGNALS%>

<script>
showGraph("%GRAPH_TYPE%");
changeTime("%TIME_TYPE%");
</script>
<script language="javascript" type="text/javascript" src="include/datetimepicker.js?dummy=2"></script>