%TITLE%
<hr>
<br>
<table cellspacing=0 cellpadding=0 border=0 width="100%">
<tr>
<td valign=top>
  <table cellspacing="10">
   <form action="editRoom.php" method="POST" enctype="multipart/form-data">
   <input type="hidden" name="id" value="%ID%">
   <tr><td>Name</td><td><input type="text" name="name" value="%ROOM_NAME%" size="48"></td></tr>
   <tr><td>Etage</td><td><select name="stage">%STAGE_OPTIONS%</select> Nur auswählen, wenn die Webapp Etagen dargestellen soll.</td></tr>
   <!--tr><td>Bild</td><td><input name="userfile" type="file" size="40" ></td></tr-->
   <tr><td></td><td><input type="checkbox" name="delete" value="1"> L&ouml;schen</td></tr>
   <tr><td></td><td><br></td></tr>
   <tr><td></td><td><input type="submit" name="submitted" value="%SUBMIT_TITLE%"></td></tr>
   </form>
   <tr><td></td><td><br></td></tr>
   <tr><td></td><td><br></td></tr>
   <%FEATURES%>
    <form action="editRoomFeatures.php">
    <input type="hidden" name="id" value="%ID%">

    <tr><td colspan="2"><u>Zugeordnete Funktionen</td></tr>
    <tr><td colspan=2><input type="submit" value="Bearbeiten"></td></tr>
    <tr>
     <td colspan="2">
      <table>
      <%CONTROLLER%>
       <tr><td><sub><img src="%STATUS%"></sub> <b>Controller "%CONTROLLER_NAME%"</b></td></tr>
       <%CONTROLLER_FEATURE%><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%FEATURE%</td></tr></%CONTROLLER_FEATURE%>
      <tr><td><br></td></tr>
      </%CONTROLLER%>
      </table>
     </td>
    </tr>
    <tr><td colspan=2><input type="submit" value="Bearbeiten"></td></tr>
    </form>
   </%FEATURES%>
   </table>
</td>
<td width=20>&nbsp;</td>
<td valign=top align="right">
 <%IMAGE%>
   <img src="%IMAGE%" width="200">
 </%IMAGE%>
</td>
<td width=20>&nbsp;</td>
</tr>
</table>

