
<html>
<head><link rel="StyleSheet" href="/homeserver/css/main.css" type="text/css" />
<!--script type="text/javascript" src="include/ajaxWorker.js"></script-->
<body><div class="contentWrap"  id="content" style="margin-right:16px;">
<br>
<table width=95% align=center style="padding-left:5px">
	<tr><td>
<b>Heizungssteuerung</b>
<hr>
Hier können Thermostate bestehend aus jeweils einem Temperatursensor und einem Relais zur Heizungssteuerung erstellt werden.<br>
Diese werden automatisch in der tabellarischen Webapplikation angezeigt, sobald der Temperatursensor einem Raum zugeordnet wird.<br>
Damit das Thermostat aktiv wird, müssen einmalig die zugehörigen Regeln per Button generiert werden.<br>
<br>%DEBUG%
<b>Nachtabsenkung</b><hr>
<table>
<tr><td>Aktueller Modus:</td><td>%ACT_REDUCTION_MODE%  (<a href='heatingControl.php?action=updateReduction'>aktualisieren</a>)</td></tr>
<tr><td>Modus einstellen:</td><td><a href='heatingControl.php?action=setReductionAuto'>Auto</a> - <a href='heatingControl.php?action=setReductionOff'>Aus</a> - <a href='heatingControl.php?action=setReductionPermanent'>Daueran</a></td></tr>
</table>

<br>
<b>Aktuelle Thermostate</b><hr>
<table cellspacing=3 cellpadding=3 border=0>
<tr bgcolor=#aaaaaa><td></td><td><b>Temperatursensor</td><td></td><td><b>Heizungsaktor</td><td></td><td><b>Diagramm</td><td></td><td><b>Pumpe</td><td></td><!--td><b>Nachtabsenkung</td--><td></td><td></td></tr>
<%ELEMENTS%>
<tr bgcolor=#eeeeee>
 <td valign=top width=4>
   <nobr><a href="heatingControl.php?action=invertHeatingStatus&id=%ID%">%STATUS%</a>
 </td><td><nobr><%OPT_DELETE_SENSOR%><a href="heatingControl.php?action=deleteSensor&id=%ID%"><img src="/homeserver/img/removeSmall.gif" border=0 title="löschen"></%OPT_DELETE_SENSOR%> <a href="addGenericFeature.php?params=%SENSOR_PARAMS%&classes=Temperatursensor&returnUrl=heatingControl.php">%TEMP%</a></td><td></td>
 <td valign=top><nobr><%OPT_DELETE_AKTOR%><a href="heatingControl.php?action=deleteAktor&id=%ID%"><img src="/homeserver/img/removeSmall.gif" border=0 title="löschen"></%OPT_DELETE_AKTOR%> <a href="addGenericFeature.php?params=%AKTOR_PARAMS%&classes=Schalter,Rollladen&returnUrl=heatingControl.php">%SWITCH%</a></td><td></td>
 <td valign=top><nobr><%OPT_DELETE_DIAGRAM%><a href="heatingControl.php?action=deleteDiagram&id=%ID%"><img src="/homeserver/img/removeSmall.gif" border=0 title="löschen"></%OPT_DELETE_DIAGRAM%> <a href="heatingControl.php?action=selectDiagram&id=%ID%">%DIAGRAM%</a></td><td></td>
 <td valign=top><nobr><%OPT_DELETE_PUMP%><a href="heatingControl.php?action=deletePump&id=%ID%"><img src="/homeserver/img/removeSmall.gif" border=0 title="löschen"></%OPT_DELETE_PUMP%> <a href="/homeserver/addGenericFeature.php?params=%PUMP_PARAMS%&classes=Schalter&returnUrl=heatingControl.php">%PUMP%</a></td><td></td>
 <!--td valign=top><nobr></td-->
 <td valign=top width=10><a href="heatingControl.php?action=delete&id=%ID%"><img src="img/remove.gif" title="löschen"></a></td>
</tr>
<%OPT_SENSOR%>
<tr bgcolor=#eeeeee>
 <td valign=top>&nbsp;</td>
 <td colspan=8><nobr><form action="heatingControl.php" action="POST"><input type=hidden name="action" value="setConfig"><input type=hidden name="id" value="%ID%">
 	       Solltemperatur: <input type=text name="temp_1_%ID%" value="%TEMP_1%" size=4> &nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nachtabsenkung: <select name=nightStart style="width:80px" <!--onChange="sendAjax('heatingControl.php?id=%ID%&action=changeStartTime&startTime='+this.options[this.selectedIndex].value);"-->>%TIME_START_TIME_OPTIONS%</select> <select name=nightEnd style="width:80px" <!--onChange="sendAjax('heatingControl.php?id=%ID%&action=changeEndTime&endTime='+this.options[this.selectedIndex].value);"-->>%TIME_END_TIME_OPTIONS%</select>
          &nbsp;Absenkung <input type=type name=reduction value='%REDUCTION%' size=2 style="width:30px;height:19px"> °C &nbsp; <input type=submit value="Speichern"> </form>
 </td>
</tr>
<tr><td colspan=9 height=15> </td></tr>
</%OPT_SENSOR%>
</%ELEMENTS%>
</table>
<br>
<table width=100% border=0>
	<tr><td><a href="heatingControl.php?action=createNew"><u>Neues Thermostat erstellen</u></a></td>
		<td align=right></td>
	</tr>
</table>

<br><br><br>
<br><b>Info</b><hr>
Es werden zwei verschiedene Arten von Heizungssteuerungen unterstützt:<br><br>
<u>1. Einfacher Stellantriebe</u><br>
Ein einfacher Stellantrieb wird per Relais (Schalter) angesteuert, sobald Wärme angefordert wird und schaltet ab, sobald die Sollwärme erreucht ist<br>
In diesem Fall wird als Solltemperatur die untere Temperaturschwelle verwendet. Die Angabe der oberen Temperaturschwelle dient lediglich<br>
zur Bestimmung der Hysterse und sollte ca. 1 Grad höher liegt<br>
<br>
<u>2. Doppelrichtungsventile</u><br>
Diese Heizungsventile werden in zwei Richtungen geregelt (aus <-> zu) und dehalb mit einem Rollladenaktor angesteuert.<br>
Der Durchfluss wird dabei in 4 Stufen angesteuert (0%, 25%, 50%, 75%, 100%). Mittels der unteren und oberen Temperaturschwelle werden alle<br>
Zustände eines Temperatursensors ausgewertet (cold, warm, hot) und schalten den Durchfluss jeweils höher oder tiefer:<br>
evCold (Temp < untere Schwelle) -> Ventil weiter aufdrehen (max 100%) <br>
evWarm (Temp zwischen unterer und oberer Schwelle) -> Ventil unverändert lassen <br>
evHot (Temp über oberer Schwelle)  -> Ventil zudrehen (min 0%)<br>
<br><br>
Bei beiden Heizungsarten kann jedem Thermostat ein Schaltaktor für eine Zentralpumpe zugeordnet werden.<br>
Diese wird automatisch angeschaltet, sobald ein zugehöriger Heizungsaktor aktiv wird.
<br><br>
<u>Nachtabsenkung</u><br>
Die Heizung kann im Tag- und Nachmodus verwendet werden, welcher je Thermostat konfiguriert wird.<br>
Der Nachmodus kann zusätzlich über eine Systemvariable deaktiviert oder dauerhaft aktiviert werden.<br>
Dafür werden zwei dedizierte Gruppen erstellt, in denen auch eigene Signale (z.b. Taster) ergänzt werden können, um die Modi zu schalten.<br>
Falls in der Gruppe ausversehen, wichtige Inhalte gelöscht wurden, reicht es die Gruppe komplett zu löschen und dieses Plugin aufzurufen, um die Gruppen neu zu genrieren.
<br><br><br><br>	
</td></tr></table>