<script>
	function checkAll()
	{
 	  for ($i=0;$i<document.forms[0].elements.length;$i++)
    {
       if (document.forms[0].elements[$i].type=="checkbox" && document.forms[0].elements[$i].name.indexOf("controller")!=-1) document.forms[0].elements[$i].checked=true;
    }
	}

	function uncheckAll()
	{
 	  for ($i=0;$i<document.forms[0].elements.length;$i++)
    {
       if (document.forms[0].elements[$i].type=="checkbox" && document.forms[0].elements[$i].name.indexOf("controller")!=-1) document.forms[0].elements[$i].checked=false;
    }
	}
	
</script>


Smoketest Systemvariablen
<hr>
<br>
<form action="smoketestSystemVariables.php" method="POST">
<input type="hidden" name="submitted" value="1">
<b>Zu testender Controller:</b><br>
<table>
<%INSTANCES%>
  <tr><td><input type="radio" name="testController" value="%CONTROLLER_ID%"></td><td>%CONTROLLER_NAME%</td></tr>
</%INSTANCES%>
</table><br>
<b>Test auswählen:</b><br>
<table>
	<tr>
		<td>Runden <input type=text name=rounds size=2 value=10> - Verzögerung <input type=text name=delay size=2 value=0>ms <input type=submit name=test value="Test starten"></td>
	</tr>
</table>
    
</form>
