<html>
<head><link rel="StyleSheet" href="/homeserver/css/main.css" type="text/css" />
<body><div class="contentWrap"  id="content" style="margin-right:16px;">

<br>
<table width=95% align=center>
<tr>
 <td>
Hier können alle globalen Systemvariablen mit Namen versehen werden, damit sie in der Programmierung leichter zuordbar sind
<hr>
<br>
<form action="systemVariables.php" method="POST"><input type=hidden name=submitted value=1>
<table border=0>
<tr>
 <td valign=top><u>Systemvariablen vom Typ BIT:</u><br><br>
     <table cellspacing=3 cellpadding=3 border=0 >
      <tr><td>Index</td><td>Name</td></tr>
       <%ELEMENTS%>
        <tr><td valign=top>%INDEX%</td><td valign=top><table cellpadding=0 cellspacing=0><tr><td colspan=2><input type=text name=%VAR_NAME% value='%NAME%'></td></tr><tr><td align=left><font size=1>Wert: %VALUE%</td><td align=right><font size=1><a href='systemVariables.php?action=read&var=%VAR_NAME%'>(lesen)</td></tr></table></td></tr>
       </%ELEMENTS%>
	   </tr>
	 </table>
 </td>
 <td width=10></td>
 <td valign=top><u>Systemvariablen vom Typ BYTE:</u><br><br>
     <table cellspacing=3 cellpadding=3 border=0 >
      <tr><td valign=top>Index</td><td valign=top>Name</td></tr>
	    %BYTE_ELEMENTS%
      </tr>
	 </table>
 </td>
 
 <td width=10></td>
 <td valign=top><u>Systemvariablen vom Typ WORD:</u><br><br>
     <table cellspacing=3 cellpadding=3 border=0 >
      <tr><td valign=top>Index</td><td valign=top>Name</td></tr>
	    %WORD_ELEMENTS%
      </tr>
	 </table>
 </td>
 </tr>
 </table>
 <center><input type=submit value="Speichern">
<form>
<br><br><br><br>

</td></tr></table>