Softwareupdate wird durchgef&uuml;hrt
<hr>
<br>
<iframe src="updatesProceed.php?proceed=1&action=%ACTION%&firmwareId=%FIRMWARE_ID%&force=%FORCE%&local=%LOCAL%&autoload=%AUTOLOAD%" width="800" height="300" border=0 frameborder=0></iframe><br>


