
<html>
<head><link rel="StyleSheet" href="/homeserver/css/main.css" type="text/css" />
<!--script type="text/javascript" src="include/ajaxWorker.js"></script-->
<body><div class="contentWrap"  id="content" style="margin-right:16px;">
<br>
<table width=95% align=center style="padding-left:5px">
	<tr><td>
<b>Lüftungssteuerung</b>
<hr>
Hier können Luftfeuchtigkeitssensoren mit einem Fenster und einem Ventilator kombiniert werden.<br>
Diese werden automatisch in der tabellarischen Webapplikation angezeigt, sobald der Luftfeuchtigkeitssensor einem Raum zugeordnet wird.<br>
Damit die Lüftungssteuerung aktiv wird, müssen einmalig die zugehörigen Regeln per Button generiert werden.<br>
<br>%DEBUG%
<br>
<b>Aktuelle Lüftungssteuerungen</b>
<hr>
<table cellspacing=3 cellpadding=3 border=0>
<tr><td></td><td><b>Luftfeuchtigkeitssensor</td><td></td><!--td><b>Fenster</td><td></td--><td><b>Ventilator</td><td></td><td><b>Typ</b></td><td></td><td><b>Diagramm</td><td></td><td></td><td></td></tr>
<%ELEMENTS%>
<tr bgcolor=#eeeeee>
 <td valign=top width=4>
   <nobr><a href="ventilationControl.php?action=invertHeatingStatus&id=%ID%">%STATUS%</a>
 </td>
 <td valign=top><nobr><%OPT_DELETE_SENSOR%><a href="ventilationControl.php?action=deleteSensor&id=%ID%"><img src="/homeserver/img/removeSmall.gif" border=0 title="löschen"></%OPT_DELETE_SENSOR%> <a href="addGenericFeature.php?params=%SENSOR_PARAMS%&classes=Feuchtesensor&returnUrl=ventilationControl.php">%TEMP%</a></td><td></td>
 <!--td valign=top><nobr><%AKTOR%><%OPT_DELETE_AKTOR%><a href="ventilationControl.php?action=deleteAktor&fensterInstanceId=%FENSTER_INSTANCE%&id=%ID%"><img src="/homeserver/img/removeSmall.gif" border=0 title="löschen"></%OPT_DELETE_AKTOR%> <a href="addGenericFeature.php?params=%AKTOR_PARAMS%&classes=Taster&returnUrl=ventilationControl.php">%SWITCH%</a><br></%AKTOR%></td><td></td-->
 <td valign=top><nobr><%OPT_DELETE_PUMP%><a href="ventilationControl.php?action=deletePump&id=%ID%"><img src="/homeserver/img/removeSmall.gif" border=0 title="löschen"></%OPT_DELETE_PUMP%> <a href="/homeserver/addGenericFeature.php?params=%PUMP_PARAMS%&classes=Schalter&returnUrl=ventilationControl.php">%PUMP%</a></td><td></td>
 <td valign=top><nobr><select name='type%ID%' onChange="location='ventilationControl.php?id=%ID%&action=changeType&newType='+this.options[this.selectedIndex].value;">%TYPE_OPTIONS%</select></td><td></td>
 <td valign=top><nobr><%OPT_DELETE_DIAGRAM%><a href="ventilationControl.php?action=deleteDiagram&id=%ID%"><img src="/homeserver/img/removeSmall.gif" border=0 title="löschen"></%OPT_DELETE_DIAGRAM%> <a href="ventilationControl.php?action=selectDiagram&id=%ID%">%DIAGRAM%</a></td><td></td>
 <!--td valign=top><nobr></td-->
 <td valign=top width=10><a href="ventilationControl.php?action=delete&id=%ID%"><img src="img/remove.gif" title="löschen"></a></td>
</tr>
<%OPT_SENSOR%>
<tr>
 <td valign=top>&nbsp;</td>
 <td colspan=8><nobr><form action="ventilationControl.php" action="POST"><input type=hidden name="action" value="setConfig"><input type=hidden name="id" value="%ID%">
 	       Sollfeuchtigkeit: <input type=text name="temp_1_%ID%" value="%TEMP_1%" size=2> % &nbsp;&nbsp;
           <!--Obere Feuchtigkeitsschwelle: <input type=text name="temp_2_%ID%" value="%TEMP_2%" size=2> % &nbsp;&nbsp;
           Regelungsintervall: <select name="interval_%ID%">%INTERVAL_OPTIONS%</select-->
	&nbsp;&nbsp;&nbsp;&nbsp;Nachtabschaltung: <select name=nightStart style="width:80px">%TIME_START_TIME_OPTIONS%</select> <select name=nightEnd style="width:80px">%TIME_END_TIME_OPTIONS%</select>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <input type=submit value="Speichern"> </form>
 </td>
</tr>
<tr><td colspan=9 height=10> </td></tr>
</%OPT_SENSOR%>
</%ELEMENTS%>
</table>
<br>
<table width=100% border=0>
	<tr><td><a href="ventilationControl.php?action=createNew"><u>Neue Lüftungssteuerung erstellen</u></a></td>
		<td align=right></td>
	</tr>
</table>
<br><br><br><br>	
</td></tr></table>