<html>
<body>
<center>
test <br><br>
%POWER_ACT_POWER_PV% <br>
%POWER_ACT_ENERGY_PV% <br>
%POWER_ACT_POWER_HOME% <br>
%POWER_ACT_ENERGY_HOME% <br>
%POWER_ACT_POWER_WASH% <br>
%POWER_ACT_ENERGY_WASH% <br>
<hr>
<table>
%PV_ENERGY_ELEMENTS%
</table>
<hr>
<table>
%HOME_ENERGY_ELEMENTS%
</table>
<hr>
<table>
%WASH_ENERGY_ELEMENTS%
</table>


<%ENERGY_ELEMENTS%>
<tr><td>%DAY%</td><td>%VALUE%</td></tr>
</%ENERGY_ELEMENTS%>